page-home {
    .more {
        border-color: transparent;
        background-color: #f8f8f8;
        color: #444;
        position: relative;
        display: inline-block;
        margin: 0;
        padding: 0 12px;
        min-width: 52px;
        min-height: 47px;
        border-width: 1px;
        border-style: solid;
        border-radius: 4px;
        vertical-align: top;
        text-align: center;
        text-overflow: ellipsis;
        font-size: 16px;
        line-height: 42px;
        cursor: pointer;
        box-shadow: none;
    }
    
    .more:hover {
        color: #444;
        text-decoration: none
    }
    
    .more.activated,
    .more.active {
        border-color: #a2a2a2;
        background-color: #e5e5e5
    }
    
    .more:after {
        position: absolute;
        top: -6px;
        right: -6px;
        bottom: -6px;
        left: -6px;
        content: ' '
    }
    
    .more.disabled,
    .more[disabled] {
        opacity: .4;
        cursor: default!important;
        pointer-events: none
    }
    
    .registry-header {
        margin-top: 20px;
    }

    .registry-header .menu-button .more,
    .registry-header .more {
        margin-top: 11px;
        font-size: 15px
    }

    .registry-header h1 {
        font-size: 25pt;
        line-height: 1em;
        margin-top: 20px !important;
    }

    .registry-header h4 {
        font-size: 13pt;
        line-height: 1em;
        margin-top: -5px;
    }
 
    .registry-header h1, 
    .registry-header h4 {
        color: #333;
        font-weight: 300;
    }

    .registry-wrapper {
        padding: 5px 20px;
    }

    .registry-wrapper h4 {
        color: #B3B3B3;
        padding-left: 10px;
    }

    .registry-wrapper h4:first-child {
        margin-top: 23px;
        margin-bottom: 0
    }

    h4 {
        font-size: 18px;
        font-weight: 400;
        font-family: Roboto,sans-serif;
        line-height: 1.2;
    }

    .more {
        background-color: transparent
    }

    .padding {
        padding: 10px
    }

    .swiper-container {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        z-index: 1;
    }

    .registry-wrapper .swiper-container {
        display: block;
        margin-bottom: 15px;
        padding-bottom: 15px;
    }

    .swiper-slide {
        display: block;
        -webkit-flex-shrink: 0;
        -ms-flex: 0 0 auto;
        flex-shrink: 0;
        position: relative;
    }

    .swiper-slide {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }

    .swiper-slide {
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-flex-shrink: 0;
        -ms-flex: 0 0 auto;
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        position: relative;
    }

    .card, .list-inset {
        overflow: hidden;
        margin: 20px 10px;
        border-radius: 2px;
        background-color: #fff;
    }

    .card {
        padding-top: 1px;
        padding-bottom: 1px;
        box-shadow: 0 1px 3px rgba(0,0,0,.3);
        text-align: left;
    }

    .padding .card, .padding .list-inset {
        margin-left: 1px;
        margin-right: 0;
    }

    .s-wrapper>.swiper .swiper-wrapper .swiper-slide, 
    .s-wrapper>.swiper .swiper-wrapper .swiper-slide-content {
        overflow: inherit !important;
    }

    .registry-wrapper .swiper-container .card {
        background-color: #FAFAFA;
        border: none;
        box-shadow: 0 8px 18px 0 rgba(51,58,69,.15);
        border-radius: 6px;
    }

    .item {
        border-color: #ddd;
        background-color: #fff;
        color: #444;
        position: relative;
        z-index: 2;
        display: block;
        margin: -1px;
        padding: 16px;
        border-width: 1px;
        border-style: solid;
        font-size: 16px;
    }

    .item, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item p, .item-content, .item-content h1, .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6, .item-content p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .item-body h1, .item-body h2, .item-body h3, .item-body h4, .item-body h5, .item-body h6, .item-body p, .item-complex.item-text-wrap, .item-complex.item-text-wrap .item-content, .item-complex.item-text-wrap h1, .item-complex.item-text-wrap h2, .item-complex.item-text-wrap h3, .item-complex.item-text-wrap h4, .item-complex.item-text-wrap h5, .item-complex.item-text-wrap h6, .item-complex.item-text-wrap p, .item-text-wrap, .item-text-wrap .item, .item-text-wrap .item-content, .item-text-wrap h1, .item-text-wrap h2, .item-text-wrap h3, .item-text-wrap h4, .item-text-wrap h5, .item-text-wrap h6, .item-text-wrap p {
        overflow: visible;
        white-space: normal;
    }

    .card .item {
        border-left: 0;
        border-right: 0;
    }

    .card .item, .list-inset .item, .padding-horizontal>.list .item, .padding>.list .item {
        margin-right: 0;
        margin-left: 0;
    }

    .card .item:first-child {
        border-top: 0;
    }

    .card .item:last-child {
        border-bottom: 0;
    }

    .card .item:first-child, .card .item:first-child .item-content, .list-inset .item:first-child, .list-inset .item:first-child .item-content, .padding>.list .item:first-child, .padding>.list .item:first-child .item-content {
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }

    .card .item:last-child, .card .item:last-child .item-content, .list-inset .item:last-child, .list-inset .item:last-child .item-content, .padding>.list .item:last-child, .padding>.list .item:last-child .item-content {
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
    }

    .card .item:last-child, .list-inset .item:last-child {
        margin-bottom: -1px;
    }

    .registry-wrapper .swiper-container .card.calculate, 
    .registry-wrapper .swiper-container .card.calculate .item {
        background-color: #326D8C;
    }

    .registry-wrapper .swiper-container .card.calculate a, 
    .registry-wrapper .swiper-container .card.calculate h3 {
        color: #FFF;
    }

    .registry-wrapper .swiper-container .card h5 {
        font-size: 8pt;
        font-weight: 900;
        text-transform: uppercase;
        margin-bottom: 40px;
        color: #042C41;
        min-height: 42px;
    }

    .registry-wrapper .swiper-container .card.calculate h5 {
        color: #FFF;
    }

    .item h3 {
        margin: 0 0 4px;
        font-size: 14px;
    }

    .itbi {
        margin-bottom: 0 !important;
        min-height: 10px !important;
    }

    .item h5, .item h6 {
        margin: 0 0 3px;
        font-size: 10px;
    }

    .registry-wrapper .swiper-container .card.calculate .icon {
        color: #326D8C;
        background-color: #FFF;
        box-shadow: none;
    }

    .registry-wrapper .swiper-container .card.documents, 
    .registry-wrapper .swiper-container .card.documents .item {
        background-color: #042C41;
    }

    .registry-wrapper .swiper-container .card.documents h3, 
    .registry-wrapper .swiper-container .card.documents span {
        color: #FFF;
        margin-bottom: 0;
    }

    .registry-wrapper .swiper-container .card.documents span.time {
        display: block;
        font-size: 9pt;
        font-weight: 900;
        text-transform: none;
    }

    .registry-wrapper .swiper-container .card.documents .icon {
        font-size: 18px;
        color: #FFF;
        margin-right: 5px;
        vertical-align: middle;
        background: none;
    }

    .sem_historico {
        margin: 0 0 30px 10px;
    }

    .button-home {
        height: 90px !important;
        background-color: #042C41;
    }

    .button-home:focus, 
    .button-home:hover, 
    .button-home:active {
        height: 90px !important;
        background-color: #042C41;
    }

    .button-icon {
        font-size: 40px !important;
    }

    .div-evento {
        width: 100%;
    }

    .image-evento {
        width: 170px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}