page-inscricao {
    button {
        color: #042C41 !important;
    }

    .button-pergunta {
        background-color: #042C41;
        color: #d3d3d3 !important;
        font-size: 14px;
    }

    .evento {
        padding-left: 10px;
    }
}
