// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

* {
    font-family: Roboto,sans-serif;
}

.list-programacao, .list-palestrantes {
    padding-left: 0;
}

.list-palestrantes {
    height: 60px;
}

.list-palestrante {
    padding-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-palestrante-arrow {
    padding-top: 15px;
    text-align: right;
}

.list-palestrante-arrow ion-icon {
    color: gray;
}

.version {
    font-size: 8px;
}

.menu {
    background: #042C41;
}

.menu-header {
    background: #042C41;
    padding: 50px 20px 0;
    margin-bottom: 70px;
}

.menu-header h1 {
    color: #FFF;
    font-weight: 300;
    font-size: 18pt;
}

.list-menu {
    position: relative;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 0;
    margin-bottom: 20px;
    border: none
}

.list-menu:last-child {
    margin-bottom: 0
}

.list-menu .item,
.list-menu .item-content {
    background: #042C41;
    border: none
}

.list-menu .item,
.list-menu a.item-content {
    color: #FFF;
    font-size: 13pt;
    font-weight: 300;
    line-height: 30px;
}

.item-block:first-child {
    border-top: none !important;
}

.item-block:last-child {
    border-bottom: none !important;
}

.clearfix:after,
.clearfix:before {
    display: table;
    content: "";
    line-height: 0
}

.clearfix:after {
    clear: both
}

.pull-right {
    float: right
}

.pull-left {
    float: left
}

.toolbar-ios {
    padding-bottom: 0 !important;
    padding-top: 15px !important;
}

.title-ios {
    padding-top: 20px !important;
}

.toolbar-md {
    padding-bottom: 0 !important;
}

.content-padding-extra {
    padding-left: 2.2em;
    padding-right: 2.2em;
}
.content-padding-extra-small {
    padding-left: 1em;
    padding-right: 1em;
}

.item-input {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 6px 0 5px 16px
}

.item-input input {
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1 220px;
    -moz-box-flex: 1;
    -moz-flex: 1 220px;
    -ms-flex: 1 220px;
    flex: 1 220px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    padding-right: 24px;
    background-color: transparent
}

input[type=text],
input[type=password],
input[type=date],
input[type=time],
input[type=email],
input[type=tel] {
    font-size: 12pt;
    border-bottom: 0;
}

.item-input.input-control {
    padding: 10px 0;
    margin-bottom: 10px
}

.item-input.input-control input[type=text],
.item-input.input-control input[type=password],
.item-input.input-control input[type=date],
.item-input.input-control input[type=time],
.item-input.input-control input[type=email] {
    padding-bottom: 10px
}

.item-input.input-control .input-label {
    color: #aaa;
    margin-top: -2px;
    border-bottom: 1px solid #ECEEF6
}
input {
    color: #326D8C !important;
}

.text-12 {
    font-size: 12pt
}

.text-light {
    color: rgba(96, 125, 139, .5)
}

.text-uppercase {
    text-transform: uppercase;
}

.text-divisor {
    color: #326D8C;
    font-weight: 400;
    padding-top: 4px;
}

.social-buttons {
    font-size: 13pt;
    font-weight: 400;
    margin-bottom: 20px
}

.social-buttons i.icon {
    font-size: 20pt;
    vertical-align: middle;
    margin-right: 8px
}

.social-buttons .facebook-button {
    color: #326D8C;
    margin-bottom: 15px
}

.social-buttons .googleplus-button {
    color: #b31111
}
.social-buttons ion-icon {
    padding-right: 5px
}

.padding-top,
.padding-vertical {
    padding-top: 10px
}

.padding-horizontal,
.padding-right {
    padding-right: 10px
}

.padding-bottom,
.padding-vertical {
    padding-bottom: 10px
}

.padding-horizontal,
.padding-left {
    padding-left: 10px
}

.padding-top-bottom {
    padding: 15px 0 15px 0;
}

a {
    color: #326D8C;
    text-decoration: none;
}

.orgao {
    color: #FFF;
}

.button-md {
    text-transform: none !important;
}