<!--
  Generated template for the PalestrantePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Palestrante</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-12 text-center>
        <img src="src/assets/imgs/user.svg" width="80px">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 text-center>
        <span> {{ nome }} </span>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="sobre">
      <ion-col class="about" col-12>
        <b> Mini-currículo</b>
        <br/><hr class="hr-white"><br/>
        <span> {{ sobre }} </span>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="programacao.length">
      <ion-col class="text-evento" col-12>
        <span> Eventos</span>
        <br /><hr class="hr-black">
      </ion-col>
      <ion-col class="list-eventos" col-12>
        <ion-list>
          <ion-item *ngFor="let item of programacao" class="list-programacao" text-wrap>
            <ion-grid>
              <ion-row>
                <ion-col class="evento" (click)="getProgramacao(item)" col-10>
                  <h5>{{ item.dia }} - {{ item.hora_inicio }} até {{ item.hora_fim }}</h5>
                  <h3>
                      {{ item.tipo }}: {{ item.titulo }}
                  </h3>
                  <h6>{{ item.local }}</h6>
                </ion-col>
                <ion-col col-2>
                  <button ion-button icon-only clear (click)="favorito(item)">
                    <ion-icon [name]="checkFavorito(item.id)" name="heart-outline"></ion-icon>
                  </button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
